<div class="container">
    <div class="row">
        <h1 class="text-center">Posts</h1>
    </div>
    <div class="posts my-5">
        <div class="row my-2">
            <div class="col-md-6">
                <a [routerLink]="['admin/posts/add']" class="btn btn-primary">Add New Post</a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Body</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let post of posts">
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        <td>{{ post.creationDate }}</td>
                        <td>
                            <a [routerLink]="['/admin/posts', post.id]"  class="btn btn-success">View</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

</div>
